#customNavLink1 {
    font-family: "Roboto";
    color: #323f4b;
}

#customNavLink2 {
    font-family: "Roboto";
    color: #323f4b;
}

#customNavLink3 {
    font-family: "Roboto";
    color: #323f4b;
}

#customNavLink4 {
    font-family: "Roboto";
    color: #323f4b;
}

.logo {
    width: 80px;
    height: 70px;
}
.BannerSectionbackgroundContainer {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
    background-size: cover;
    height: 100vh;
}

.BannerHeading {
    color: white;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 300;
}

.BannerCaption {
    color: #f5f7fa;
    font-size: 24px;
    font-weight: 300;
    font-family: "Roboto";
}

.CustomButton1 {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.CustomButton2 {
    color: #d0b200;
    background-color: transparent;
    width: 130px;
    height: 45px;
    border-style: solid;
    border-width: 1px;
    border-color: #d0b200;
    border-radius: 8px;
}