.headnig1 {
    font-size: 50px;
    color: #183b56;
    font-weight: bold;
}

.text1 {
    font-size: 25px;
    color: #959ead;
}

.text2 {
    font-size: 35px;
    color: #959ead;
}

.headnig2 {
    font-size: 39px;
    color: #183b56;
    font-weight: bold;
}

.anchor {
    font-size: 25px;
    color: orange;
    font-weight: bold;

}